# Compliance Data  -- Monthly Report

In [15]:
import pandas as pd
import numpy as np

In [72]:
###Import data
##1. Find file in finder
##2. Option + Command + C
##3. Paste Info read_csv(r” ”)

#Data file merges with All Dates when all data is saved from Access. When saved from SQL, the data does not merge accurately.

df = pd.ExcelFile(r"/Users/holly/Desktop/nycdoe/02052021 Compliance data for Holly v3.xlsx")

In [73]:
#Read data from corrrect tab.

ideation = df.parse('Ideation')
acs = df.parse('ACS')
missing = df.parse('Missing')
inc = df.parse('L1-5')
material = df.parse('Material')
alldates = df.parse('AllDates')

In [74]:
alldates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        365 non-null    datetime64[ns]
 1   Day of Week                 365 non-null    object
 2   School Day                  365 non-null    object
 3   Nearest School Day          365 non-null    datetime64[ns]
 4   Final Day to ENTER - 1 Day  365 non-null    datetime64[ns]
 5   2 Days                      365 non-null    datetime64[ns]
 6   5 Days                      365 non-null    datetime64[ns]
 7   10 Days                     365 non-null    datetime64[ns]
dtypes: datetime64[ns](6), object(2)
memory usage: 22.9+ KB

**SUICIDE IDEATION**

1. Import Incident Data
2. Merge with All Dates -- Join on Data
3. Add Final Day to ENTER - 1 Day, 10 Days from All Dates table
4. Create field: Entered on Time: If OccDateEntered <= Final Day to Enter - 1 Day --> YES, otherwise, NO
5. Create field: Updated on Time: If Updated Date <= 10 Days --> YES, otherwise, NO
6. If Updated Data is Blank, leave Updated on Time Blank.

In [75]:
#schools_susptype = schools.merge(susptypefinal, left_on='DBN', right_on='ATS', how='left')
ideation_df = ideation.merge(alldates, left_on='PrincInformed', right_on='Date', how='left')

In [76]:
#schools_susptype.drop('ATS', axis = 1, inplace = True)
#Drop Day of Week, School Day, Nearest School Day, 2 Days, 5 Days
ideation_df.drop('Day of Week', axis = 1, inplace = True)
ideation_df.drop('School Day', axis = 1, inplace = True)
ideation_df.drop('Nearest School Day', axis = 1, inplace = True)
ideation_df.drop('2 Days', axis = 1, inplace = True)
ideation_df.drop('5 Days', axis = 1, inplace = True)
ideation_df.drop('UpdatedText', axis = 1, inplace = True)
ideation_df.drop('EventType', axis = 1, inplace = True)
ideation_df.drop('Date_x', axis = 1, inplace = True)
ideation_df.drop('Date_y', axis = 1, inplace = True)
ideation_df.drop('RowNumber', axis = 1, inplace = True)

In [77]:
ideation_df

,RowNumber,AcademicYear,ATS,School Name,ControlNo,Code,EIC,PrincInformed,OccDateEntered,Updated Date,WhoSource,Final Day to ENTER - 1 Day,10 Days
0,1,2020-2021,30Q450,Long Island City High School,30Q450-070120-0003,O57,False,2020-07-01,2020-07-02,2020-10-02,CENTRAL\JMudd,2020-07-02,2020-07-16
1,1,2020-2021,75K373,P.S. 373 - Brooklyn Transition Center,75K373-070620-0001,O57,True,2020-07-06,2020-07-07,2020-07-07,CENTRAL\RDavid3,2020-07-07,2020-07-20
2,1,2020-2021,18K068,I.S. 068 Isaac Bildersee,18K068-071520-0001,O57,False,2020-07-15,2020-07-15,2020-09-29,CENTRAL\DClarke15,2020-07-16,2020-07-29
3,1,2020-2021,11X180,M.S. 180 Dr. Daniel Hale Williams,11X180-071720-0001,O57,True,2020-07-17,2020-07-17,2020-07-18,CENTRAL\JDhanpaul,2020-07-20,2020-08-03
4,1,2020-2021,02M459,Manhattan International High School,02M459-072920-0001,O57,False,2020-07-30,2020-07-30,2020-09-25,CENTRAL\MAhn,2020-08-03,2020-08-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,1,2020-2021,11X567,Linden Tree Elementary School,11X567-012521-0025,O57,False,2021-01-25,2021-01-25,2021-02-03,CENTRAL\RBergmann,2021-01-26,2021-02-08
1607,1,2020-2021,75Q993,P.S. Q993,75Q993-012621-0119,O57,False,2021-01-26,2021-01-26,2021-01-26,CENTRAL\ATuttie,2021-01-27,2021-02-09
1608,1,2020-2021,75M079,P.S. M079 - Horan School,75M079-012521-0027,O57,False,2021-01-26,2021-01-28,2021-01-29,CENTRAL\MLefaivre,2021-01-27,2021-02-09
1609,1,2020-2021,08X558,Westchester Square Academy,08X558-012821-0022,O57,False,2021-01-28,2021-01-28,2021-01-28,CENTRAL\SHartley,2021-01-29,2021-02-11
1610,1,2020-2021,10X696,High School of American Studies at Lehman College,10X696-020121-0013,O57,False,2021-02-01,2021-02-01,2021-02-01,CENTRAL\AWeiss,2021-02-02,2021-02-23

In [78]:
#Create fileds: Entered on Time: If OccDateEntered <= Final Day to Enter - 1 Day --> YES, otherwise, NO
#Source: https://www.geeksforgeeks.org/python-creating-a-pandas-dataframe-column-based-on-a-given-condition/
#df['hasimage'] = np.where(df['photos']!= '[]', True, False)  
#Source: https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/
#df['Price'] = [1500 if x =='Music' else 800 for x in df['Event']] 

ideation_df['Entered on Time'] = np.where(ideation_df['OccDateEntered'] <= ideation_df['Final Day to ENTER - 1 Day'], 'YES', 'NO')

In [79]:
ideation_df

,RowNumber,AcademicYear,ATS,School Name,ControlNo,Code,EIC,PrincInformed,OccDateEntered,Updated Date,WhoSource,Final Day to ENTER - 1 Day,10 Days,Entered on Time
0,1,2020-2021,30Q450,Long Island City High School,30Q450-070120-0003,O57,False,2020-07-01,2020-07-02,2020-10-02,CENTRAL\JMudd,2020-07-02,2020-07-16,YES
1,1,2020-2021,75K373,P.S. 373 - Brooklyn Transition Center,75K373-070620-0001,O57,True,2020-07-06,2020-07-07,2020-07-07,CENTRAL\RDavid3,2020-07-07,2020-07-20,YES
2,1,2020-2021,18K068,I.S. 068 Isaac Bildersee,18K068-071520-0001,O57,False,2020-07-15,2020-07-15,2020-09-29,CENTRAL\DClarke15,2020-07-16,2020-07-29,YES
3,1,2020-2021,11X180,M.S. 180 Dr. Daniel Hale Williams,11X180-071720-0001,O57,True,2020-07-17,2020-07-17,2020-07-18,CENTRAL\JDhanpaul,2020-07-20,2020-08-03,YES
4,1,2020-2021,02M459,Manhattan International High School,02M459-072920-0001,O57,False,2020-07-30,2020-07-30,2020-09-25,CENTRAL\MAhn,2020-08-03,2020-08-14,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,1,2020-2021,11X567,Linden Tree Elementary School,11X567-012521-0025,O57,False,2021-01-25,2021-01-25,2021-02-03,CENTRAL\RBergmann,2021-01-26,2021-02-08,YES
1607,1,2020-2021,75Q993,P.S. Q993,75Q993-012621-0119,O57,False,2021-01-26,2021-01-26,2021-01-26,CENTRAL\ATuttie,2021-01-27,2021-02-09,YES
1608,1,2020-2021,75M079,P.S. M079 - Horan School,75M079-012521-0027,O57,False,2021-01-26,2021-01-28,2021-01-29,CENTRAL\MLefaivre,2021-01-27,2021-02-09,NO
1609,1,2020-2021,08X558,Westchester Square Academy,08X558-012821-0022,O57,False,2021-01-28,2021-01-28,2021-01-28,CENTRAL\SHartley,2021-01-29,2021-02-11,YES
1610,1,2020-2021,10X696,High School of American Studies at Lehman College,10X696-020121-0013,O57,False,2021-02-01,2021-02-01,2021-02-01,CENTRAL\AWeiss,2021-02-02,2021-02-23,YES

In [80]:
ideation_df['Updated on Time'] = np.where(ideation_df['Updated Date'] <= ideation_df['10 Days'], 'YES', 'NO')

In [81]:
ideation_df

,RowNumber,AcademicYear,ATS,School Name,ControlNo,Code,EIC,PrincInformed,OccDateEntered,Updated Date,WhoSource,Final Day to ENTER - 1 Day,10 Days,Entered on Time,Updated on Time
0,1,2020-2021,30Q450,Long Island City High School,30Q450-070120-0003,O57,False,2020-07-01,2020-07-02,2020-10-02,CENTRAL\JMudd,2020-07-02,2020-07-16,YES,NO
1,1,2020-2021,75K373,P.S. 373 - Brooklyn Transition Center,75K373-070620-0001,O57,True,2020-07-06,2020-07-07,2020-07-07,CENTRAL\RDavid3,2020-07-07,2020-07-20,YES,YES
2,1,2020-2021,18K068,I.S. 068 Isaac Bildersee,18K068-071520-0001,O57,False,2020-07-15,2020-07-15,2020-09-29,CENTRAL\DClarke15,2020-07-16,2020-07-29,YES,NO
3,1,2020-2021,11X180,M.S. 180 Dr. Daniel Hale Williams,11X180-071720-0001,O57,True,2020-07-17,2020-07-17,2020-07-18,CENTRAL\JDhanpaul,2020-07-20,2020-08-03,YES,YES
4,1,2020-2021,02M459,Manhattan International High School,02M459-072920-0001,O57,False,2020-07-30,2020-07-30,2020-09-25,CENTRAL\MAhn,2020-08-03,2020-08-14,YES,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,1,2020-2021,11X567,Linden Tree Elementary School,11X567-012521-0025,O57,False,2021-01-25,2021-01-25,2021-02-03,CENTRAL\RBergmann,2021-01-26,2021-02-08,YES,YES
1607,1,2020-2021,75Q993,P.S. Q993,75Q993-012621-0119,O57,False,2021-01-26,2021-01-26,2021-01-26,CENTRAL\ATuttie,2021-01-27,2021-02-09,YES,YES
1608,1,2020-2021,75M079,P.S. M079 - Horan School,75M079-012521-0027,O57,False,2021-01-26,2021-01-28,2021-01-29,CENTRAL\MLefaivre,2021-01-27,2021-02-09,NO,YES
1609,1,2020-2021,08X558,Westchester Square Academy,08X558-012821-0022,O57,False,2021-01-28,2021-01-28,2021-01-28,CENTRAL\SHartley,2021-01-29,2021-02-11,YES,YES
1610,1,2020-2021,10X696,High School of American Studies at Lehman College,10X696-020121-0013,O57,False,2021-02-01,2021-02-01,2021-02-01,CENTRAL\AWeiss,2021-02-02,2021-02-23,YES,YES

In [82]:
#Updated on Time: If Updated Date <= 10 Days --> YES, otherwise, NO
#ideation_df['Entered on Time'] = np.where(ideation_df['OccDateEntered'] <= ideation_df['Final Day to ENTER - 1 Day'], 'YES', 'NO')
ideation_df['Updated on Time'] = np.where(ideation_df['Updated Date'].isnull(), ' ', ideation_df['Updated on Time'])

In [83]:
ideation_df

,RowNumber,AcademicYear,ATS,School Name,ControlNo,Code,EIC,PrincInformed,OccDateEntered,Updated Date,WhoSource,Final Day to ENTER - 1 Day,10 Days,Entered on Time,Updated on Time
0,1,2020-2021,30Q450,Long Island City High School,30Q450-070120-0003,O57,False,2020-07-01,2020-07-02,2020-10-02,CENTRAL\JMudd,2020-07-02,2020-07-16,YES,NO
1,1,2020-2021,75K373,P.S. 373 - Brooklyn Transition Center,75K373-070620-0001,O57,True,2020-07-06,2020-07-07,2020-07-07,CENTRAL\RDavid3,2020-07-07,2020-07-20,YES,YES
2,1,2020-2021,18K068,I.S. 068 Isaac Bildersee,18K068-071520-0001,O57,False,2020-07-15,2020-07-15,2020-09-29,CENTRAL\DClarke15,2020-07-16,2020-07-29,YES,NO
3,1,2020-2021,11X180,M.S. 180 Dr. Daniel Hale Williams,11X180-071720-0001,O57,True,2020-07-17,2020-07-17,2020-07-18,CENTRAL\JDhanpaul,2020-07-20,2020-08-03,YES,YES
4,1,2020-2021,02M459,Manhattan International High School,02M459-072920-0001,O57,False,2020-07-30,2020-07-30,2020-09-25,CENTRAL\MAhn,2020-08-03,2020-08-14,YES,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,1,2020-2021,11X567,Linden Tree Elementary School,11X567-012521-0025,O57,False,2021-01-25,2021-01-25,2021-02-03,CENTRAL\RBergmann,2021-01-26,2021-02-08,YES,YES
1607,1,2020-2021,75Q993,P.S. Q993,75Q993-012621-0119,O57,False,2021-01-26,2021-01-26,2021-01-26,CENTRAL\ATuttie,2021-01-27,2021-02-09,YES,YES
1608,1,2020-2021,75M079,P.S. M079 - Horan School,75M079-012521-0027,O57,False,2021-01-26,2021-01-28,2021-01-29,CENTRAL\MLefaivre,2021-01-27,2021-02-09,NO,YES
1609,1,2020-2021,08X558,Westchester Square Academy,08X558-012821-0022,O57,False,2021-01-28,2021-01-28,2021-01-28,CENTRAL\SHartley,2021-01-29,2021-02-11,YES,YES
1610,1,2020-2021,10X696,High School of American Studies at Lehman College,10X696-020121-0013,O57,False,2021-02-01,2021-02-01,2021-02-01,CENTRAL\AWeiss,2021-02-02,2021-02-23,YES,YES

In [84]:
#Export data to excel: https://datatofish.com/export-dataframe-to-excel/
#df.to_excel(r'Path to store the exported excel file\File Name.xlsx', sheet_name='Your sheet name', index = False)
#Formatting: https://xlsxwriter.readthedocs.io/working_with_pandas.html

#ideation_df.to_excel(r"/Users/holly/Desktop/nycdoe/01142021 Compliance Data FINAL.xlsx", sheet_name='Ideation',header=True, merge_cells=False, index=False)

In [85]:
acs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3145 entries, 0 to 3144
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DBN              3145 non-null   object
 1   School Name      3145 non-null   object
 2   Code             3145 non-null   object
 3   EIC              3145 non-null   bool
 4   OORS#            3145 non-null   object
 5   Date             3145 non-null   datetime64[ns]
 6   PrincInformed    3145 non-null   datetime64[ns]
 7   OccDateEntered   3145 non-null   datetime64[ns]
 8   Academic Year    3145 non-null   object
 9   PreparedBy       3145 non-null   object
 10  PreparedByEmail  2569 non-null   object
 11  WhoSource        3145 non-null   object
 12  EventType        3145 non-null   object
dtypes: bool(1), datetime64[ns](3), object(9)
memory usage: 298.0+ KB

In [86]:
acs.head()

,DBN,School Name,Code,EIC,OORS#,Date,PrincInformed,OccDateEntered,Academic Year,PreparedBy,PreparedByEmail,WhoSource,EventType
0,75Q009,P.S. 009,O77,False,75Q009-070120-0001,2020-07-01,2020-07-01,2020-07-01,2020-2021,John Gonzalez AP,jgonzal5@schools.nyc.gov,CENTRAL\JGonzal5,Entered
1,02M298,Pace High School,O77,False,02M298-070220-0001,2020-07-02,2020-07-02,2020-07-02,2020-2021,ERIC GLATZ,eglatz@schools.nyc.gov,CENTRAL\EGlatz,Entered
2,06M468,High School for Health Careers and Sciences,O77,False,06M468-070220-0001,2020-07-02,2020-07-02,2020-07-02,2020-2021,Javier Trejo,JTrejo@schools.nyc.gov,CENTRAL\JTrejo,Entered
3,31R455,Tottenville High School,O77,False,31R455-070420-0001,2020-07-04,2020-07-06,2020-07-06,2020-2021,D Pugliese,NaN,CENTRAL\GPaglia,Entered
4,31R455,Tottenville High School,O77,False,31R455-070420-0002,2020-07-04,2020-07-06,2020-07-06,2020-2021,D Jackson,NaN,CENTRAL\GPaglia,Entered

**ACS**

1. Import ACS Data
2. Merge with All Dates -- Join on Date
3. Add Final Day to ENTER - 1 Day, 10 Days from All Dates table
4. Create field: Entered on Time: If PrincInformed <= Final Day to Enter - 1 Day --> YES, otherwise, NO

In [87]:
acs_df = acs.merge(alldates, left_on='PrincInformed', right_on='Date', how='left')

In [88]:
acs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3145 entries, 0 to 3144
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DBN                         3145 non-null   object
 1   School Name                 3145 non-null   object
 2   Code                        3145 non-null   object
 3   EIC                         3145 non-null   bool
 4   OORS#                       3145 non-null   object
 5   Date_x                      3145 non-null   datetime64[ns]
 6   PrincInformed               3145 non-null   datetime64[ns]
 7   OccDateEntered              3145 non-null   datetime64[ns]
 8   Academic Year               3145 non-null   object
 9   PreparedBy                  3145 non-null   object
 10  PreparedByEmail             2569 non-null   object
 11  WhoSource                   3145 non-null   object
 12  EventType                   3145 non-null   object
 13  Date_y                      3145 non-null   datetime64[ns]
 14  Day of Week                 3145 non-null   object
 15  School Day                  3145 non-null   object
 16  Nearest School Day          3145 non-null   datetime64[ns]
 17  Final Day to ENTER - 1 Day  3145 non-null   datetime64[ns]
 18  2 Days                      3145 non-null   datetime64[ns]
 19  5 Days                      3145 non-null   datetime64[ns]
 20  10 Days                     3145 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](9), object(11)
memory usage: 519.0+ KB

In [89]:
acs_df.tail()

,DBN,School Name,Code,EIC,OORS#,Date_x,PrincInformed,OccDateEntered,Academic Year,PreparedBy,...,WhoSource,EventType,Date_y,Day of Week,School Day,Nearest School Day,Final Day to ENTER - 1 Day,2 Days,5 Days,10 Days
3140,19K557,Brooklyn Gardens Elementary School,O77,False,19K557-020321-0010,2021-02-03,2021-02-03,2021-02-04,2020-2021,Marjorie Greene,...,CENTRAL\MGreene17,Entered,2021-02-03,Wednesday,Yes,2021-02-03,2021-02-04,2021-02-05,2021-02-10,2021-02-25
3141,19K557,Brooklyn Gardens Elementary School,O77,False,19K557-020321-0011,2021-02-03,2021-02-03,2021-02-04,2020-2021,Marjorie Greene,...,CENTRAL\MGreene17,Entered,2021-02-03,Wednesday,Yes,2021-02-03,2021-02-04,2021-02-05,2021-02-10,2021-02-25
3142,17K181,P.S. 181 Brooklyn,O77,False,17K181-020421-0008,2021-02-04,2021-02-04,2021-02-04,2020-2021,Chantal Lucien,...,CENTRAL\CLucien,Entered,2021-02-04,Thursday,Yes,2021-02-04,2021-02-05,2021-02-08,2021-02-11,2021-02-26
3143,23K298,P.S. 298 Dr. Betty Shabazz,O77,False,23K298-020321-0013,2021-02-03,2021-02-03,2021-02-04,2020-2021,Cindy Casseus,...,CENTRAL\CCasseus3,Entered,2021-02-03,Wednesday,Yes,2021-02-03,2021-02-04,2021-02-05,2021-02-10,2021-02-25
3144,19K089,P.S. 089 Cypress Hills,O77,False,19K089-020421-0029,2021-02-04,2021-02-04,2021-02-04,2020-2021,SASHA RINCON-SUERO,...,CENTRAL\SRinconsuero,Entered,2021-02-04,Thursday,Yes,2021-02-04,2021-02-05,2021-02-08,2021-02-11,2021-02-26

In [90]:
#Drop Day of Week, School Day, Nearest School Day, 2 Days, 5 Days
acs_df.drop('Code', axis = 1, inplace = True)
acs_df.drop('EIC', axis = 1, inplace = True)
acs_df.drop('Academic Year', axis = 1, inplace = True)
acs_df.drop('EventType', axis = 1, inplace = True)
acs_df.drop('Day of Week', axis = 1, inplace = True)
acs_df.drop('School Day', axis = 1, inplace = True)
acs_df.drop('Nearest School Day', axis = 1, inplace = True)
acs_df.drop('2 Days', axis = 1, inplace = True)
acs_df.drop('5 Days', axis = 1, inplace = True)
acs_df.drop('10 Days', axis = 1, inplace = True)
acs_df.drop('10 Days', axis = 1, inplace = True)
#acs_df.drop('Unnamed: 13', axis = 1, inplace = True)

In [91]:
acs_df.drop('Date_x', axis = 1, inplace = True)
acs_df.drop('Date_y', axis = 1, inplace = True)

In [92]:
acs_df.head()

,DBN,School Name,OORS#,PrincInformed,OccDateEntered,PreparedBy,PreparedByEmail,WhoSource,Final Day to ENTER - 1 Day
0,75Q009,P.S. 009,75Q009-070120-0001,2020-07-01,2020-07-01,John Gonzalez AP,jgonzal5@schools.nyc.gov,CENTRAL\JGonzal5,2020-07-02
1,02M298,Pace High School,02M298-070220-0001,2020-07-02,2020-07-02,ERIC GLATZ,eglatz@schools.nyc.gov,CENTRAL\EGlatz,2020-07-06
2,06M468,High School for Health Careers and Sciences,06M468-070220-0001,2020-07-02,2020-07-02,Javier Trejo,JTrejo@schools.nyc.gov,CENTRAL\JTrejo,2020-07-06
3,31R455,Tottenville High School,31R455-070420-0001,2020-07-06,2020-07-06,D Pugliese,NaN,CENTRAL\GPaglia,2020-07-07
4,31R455,Tottenville High School,31R455-070420-0002,2020-07-06,2020-07-06,D Jackson,NaN,CENTRAL\GPaglia,2020-07-07

In [93]:
acs_df['Entered on Time'] = np.where(acs_df['OccDateEntered'] <= acs_df['Final Day to ENTER - 1 Day'], 'YES', 'NO')

In [94]:
acs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3145 entries, 0 to 3144
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DBN                         3145 non-null   object
 1   School Name                 3145 non-null   object
 2   OORS#                       3145 non-null   object
 3   PrincInformed               3145 non-null   datetime64[ns]
 4   OccDateEntered              3145 non-null   datetime64[ns]
 5   PreparedBy                  3145 non-null   object
 6   PreparedByEmail             2569 non-null   object
 7   WhoSource                   3145 non-null   object
 8   Final Day to ENTER - 1 Day  3145 non-null   datetime64[ns]
 9   Entered on Time             3145 non-null   object
dtypes: datetime64[ns](3), object(7)
memory usage: 270.3+ KB

In [95]:
#Export data to excel: https://datatofish.com/export-dataframe-to-excel/
#df.to_excel(r'Path to store the exported excel file\File Name.xlsx', sheet_name='Your sheet name', index = False)
#Formatting: https://xlsxwriter.readthedocs.io/working_with_pandas.html

#acs_df.to_excel(r"/Users/holly/Desktop/nycdoe/01142021 Compliance Data FINAL.xlsx", sheet_name='ACS',header=True, merge_cells=False, index=False)

**L1-5 INCIDENTS**

1. Import L1-5 Incident Data
2. Merge with All Dates -- Join on Date
3. Add Final Day to ENTER - 1 Day, 10 Days from All Dates table
4. Create field: Entered on Time: If OccDateEntered <= Final Day to Enter - 1 Day --> YES, otherwise, NO

In [96]:
inc_df = inc.merge(alldates, left_on='PrincInformed', right_on='Date', how='left')

In [97]:
inc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4921 entries, 0 to 4920
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DBN                         4921 non-null   object
 1   School Name                 4921 non-null   object
 2   Level                       4921 non-null   int64
 3   Code                        4921 non-null   object
 4   Short Description           4921 non-null   object
 5   OORS#                       4921 non-null   object
 6   Date_x                      4921 non-null   datetime64[ns]
 7   PrincInformed               4921 non-null   datetime64[ns]
 8   OccDateEntered              4921 non-null   datetime64[ns]
 9   Academic Year               4921 non-null   object
 10  PreparedBy                  4920 non-null   object
 11  PreparedByEmail             3983 non-null   object
 12  Location                    4921 non-null   object
 13  OccID                       4921 non-null   int64
 14  WhoSource                   4921 non-null   object
 15  Date_y                      4921 non-null   datetime64[ns]
 16  Day of Week                 4921 non-null   object
 17  School Day                  4921 non-null   object
 18  Nearest School Day          4921 non-null   datetime64[ns]
 19  Final Day to ENTER - 1 Day  4921 non-null   datetime64[ns]
 20  2 Days                      4921 non-null   datetime64[ns]
 21  5 Days                      4921 non-null   datetime64[ns]
 22  10 Days                     4921 non-null   datetime64[ns]
dtypes: datetime64[ns](9), int64(2), object(12)
memory usage: 922.7+ KB

In [98]:
inc_df['Entered on Time'] = np.where(inc_df['OccDateEntered'] <= inc_df['Final Day to ENTER - 1 Day'], 'YES', 'NO')

In [99]:
#Drop Day of Week, School Day, Nearest School Day, 2 Days, 5 Days

inc_df.drop('Academic Year', axis = 1, inplace = True)
inc_df.drop('PreparedBy', axis = 1, inplace = True)
inc_df.drop('PreparedByEmail', axis = 1, inplace = True)
inc_df.drop('OccID', axis = 1, inplace = True)
inc_df.drop('Day of Week', axis = 1, inplace = True)
inc_df.drop('School Day', axis = 1, inplace = True)
inc_df.drop('Nearest School Day', axis = 1, inplace = True)
inc_df.drop('2 Days', axis = 1, inplace = True)
inc_df.drop('5 Days', axis = 1, inplace = True)
inc_df.drop('10 Days', axis = 1, inplace = True)
inc_df.drop('Date_x', axis = 1, inplace = True)
inc_df.drop('Date_y', axis = 1, inplace = True)
#inc_df.drop('Unnamed: 15', axis = 1, inplace = True)

In [100]:
inc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4921 entries, 0 to 4920
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DBN                         4921 non-null   object
 1   School Name                 4921 non-null   object
 2   Level                       4921 non-null   int64
 3   Code                        4921 non-null   object
 4   Short Description           4921 non-null   object
 5   OORS#                       4921 non-null   object
 6   PrincInformed               4921 non-null   datetime64[ns]
 7   OccDateEntered              4921 non-null   datetime64[ns]
 8   Location                    4921 non-null   object
 9   WhoSource                   4921 non-null   object
 10  Final Day to ENTER - 1 Day  4921 non-null   datetime64[ns]
 11  Entered on Time             4921 non-null   object
dtypes: datetime64[ns](3), int64(1), object(8)
memory usage: 499.8+ KB

In [101]:
#Export data to excel: https://datatofish.com/export-dataframe-to-excel/
#df.to_excel(r'Path to store the exported excel file\File Name.xlsx', sheet_name='Your sheet name', index = False)
#Formatting: https://xlsxwriter.readthedocs.io/working_with_pandas.html

#inc_df.to_excel(r"/Users/holly/Desktop/nycdoe/01142021 Compliance Data FINAL.xlsx", sheet_name='L1-5',header=True, merge_cells=False, index=False)

**MISSING STUDENTS**

1. Import Missing Incident Data
2. Merge with All Dates -- Join on Date
3. Remove duplicate records based on ControlNo
4. Add Final Day to ENTER - 1 Day, 10 Days from All Dates table
5. Create field: Entered on Time: If OccDateEntered <= Final Day to Enter - 1 Day --> YES, otherwise, NO

In [102]:
missing_df = missing.merge(alldates, left_on='PrincInformed', right_on='Date', how='left')

In [103]:
missing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   RowNumber                   60 non-null     int64
 1   DBN                         60 non-null     object
 2   School Name                 60 non-null     object
 3   Academic Year               60 non-null     object
 4   AcademicYear                60 non-null     object
 5   ControlNo                   60 non-null     object
 6   ClassificationCode          60 non-null     object
 7   Short Description           60 non-null     object
 8   Date_x                      60 non-null     datetime64[ns]
 9   PrincInformed               60 non-null     datetime64[ns]
 10  OccDateEntered              60 non-null     datetime64[ns]
 11  Submitted                   60 non-null     bool
 12  UpdatedDate                 60 non-null     datetime64[ns]
 13  WhoSource                   60 non-null     object
 14  Date_y                      60 non-null     datetime64[ns]
 15  Day of Week                 60 non-null     object
 16  School Day                  60 non-null     object
 17  Nearest School Day          60 non-null     datetime64[ns]
 18  Final Day to ENTER - 1 Day  60 non-null     datetime64[ns]
 19  2 Days                      60 non-null     datetime64[ns]
 20  5 Days                      60 non-null     datetime64[ns]
 21  10 Days                     60 non-null     datetime64[ns]
dtypes: bool(1), datetime64[ns](10), int64(1), object(10)
memory usage: 10.4+ KB

In [104]:
#https://www.interviewqs.com/ddi-code-snippets/drop-duplicate-rows-pandas
missing_df = missing_df.drop_duplicates(subset='ControlNo', keep="first")

In [105]:
missing_df['Entered on Time'] = np.where(missing_df['OccDateEntered'] <= missing_df['Final Day to ENTER - 1 Day'], 'YES', 'NO')

In [106]:
#Drop Day of Week, School Day, Nearest School Day, 2 Days, 5 Days, 10 Days

missing_df.drop('Submitted', axis = 1, inplace = True)
missing_df.drop('UpdatedDate', axis = 1, inplace = True)
missing_df.drop('Day of Week', axis = 1, inplace = True)
missing_df.drop('School Day', axis = 1, inplace = True)
missing_df.drop('Nearest School Day', axis = 1, inplace = True)
missing_df.drop('2 Days', axis = 1, inplace = True)
missing_df.drop('5 Days', axis = 1, inplace = True)
missing_df.drop('10 Days', axis = 1, inplace = True)
missing_df.drop('Date_x', axis = 1, inplace = True)
missing_df.drop('Date_y', axis = 1, inplace = True)
missing_df.drop('RowNumber', axis = 1, inplace = True)

In [107]:
missing_df.head()

,RowNumber,DBN,School Name,Academic Year,AcademicYear,ControlNo,ClassificationCode,Short Description,PrincInformed,OccDateEntered,WhoSource,Final Day to ENTER - 1 Day,Entered on Time
0,1,07X522,Bronx Design and Construction Academy,2020-2021,2020-2021,07X522-101320-0003,B20,Leaving Class or School Premises w/o Permission,2020-10-13,2020-10-13,CENTRAL\TLeonar,2020-10-14,YES
1,1,79M973,Restart Academy,2020-2021,2020-2021,79M973-100820-0009,N12,Missing child,2020-10-14,2020-10-14,CENTRAL\JDhanpaul,2020-10-15,YES
2,1,79M973,Restart Academy,2020-2021,2020-2021,79M973-100820-0010,N12,Missing child,2020-10-14,2020-10-14,CENTRAL\JDhanpaul,2020-10-15,YES
3,1,79M973,Restart Academy,2020-2021,2020-2021,79M973-100920-0011,B20,Leaving Class or School Premises w/o Permission,2020-10-09,2020-10-14,CENTRAL\TLeonar,2020-10-13,NO
4,1,75M035,P.S. 035,2020-2021,2020-2021,75M035-100620-0009,B20,Leaving Class or School Premises w/o Permission,2020-10-06,2020-10-14,CENTRAL\RDavid3,2020-10-07,NO

In [108]:
missing_df.shape

(49, 13)

In [109]:
#Export data to excel: https://datatofish.com/export-dataframe-to-excel/
#df.to_excel(r'Path to store the exported excel file\File Name.xlsx', sheet_name='Your sheet name', index = False)
#Formatting: https://xlsxwriter.readthedocs.io/working_with_pandas.html

#missing_df.to_excel(r"/Users/holly/Desktop/nycdoe/01142021 Compliance Data FINAL.xlsx", sheet_name='Missing',header=True, merge_cells=False, index=False)

**MATERIAL INCIDENTS**

Import Material Incident Incident Data
1. Merge with All Dates -- Join on Date
2. Add Final Day to ENTER - 1 Day, 5 Days, 10 Days from All Dates table
3. Create field: Entered on Time: If OccDateEntered <= Final Day to Enter - 1 Day --> YES, otherwise, NO
4. Create field: Updated on Time: If Update Date <= 10 Days --> YES, otherwise, NO
5. Create field: Investigated on Time: If CRA832InitialInvestigationCompletionDate <= 5 Days --> YES, otherwise, NO

In [110]:
material_df = material.merge(alldates, left_on='PrincInformed', right_on='Date', how='left')

In [111]:
material_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2020 entries, 0 to 2019
Data columns (total 29 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   RowNumber                                 2020 non-null   int64
 1   AcademicYear                              2020 non-null   object
 2   DBN                                       2020 non-null   object
 3   School Name                               2020 non-null   object
 4   Classification_Code                       2020 non-null   object
 5   Short Description                         2020 non-null   object
 6   OccID                                     2020 non-null   int64
 7   OORS#                                     2020 non-null   object
 8   Date_x                                    2020 non-null   datetime64[ns]
 9   PrincInformed                             2020 non-null   datetime64[ns]
 10  Update Date                               1972 non-null   datetime64[ns]
 11  CRA832InitialInvestigationCompletionDate  1972 non-null   datetime64[ns]
 12  BiasRelated                               2020 non-null   bool
 13  MaterialIncidents                         2020 non-null   bool
 14  OccDateEntered                            2020 non-null   datetime64[ns]
 15  Cyberbullying                             2020 non-null   bool
 16  Harassment_Intimidation_Bullying          2020 non-null   bool
 17  MaterialSexualInNature                    2020 non-null   bool
 18  InvolveStudentOnStudentConduct            2020 non-null   bool
 19  CRA832ConductAViolation                   2020 non-null   bool
 20  WhoSource                                 2020 non-null   object
 21  Date_y                                    2020 non-null   datetime64[ns]
 22  Day of Week                               2020 non-null   object
 23  School Day                                2020 non-null   object
 24  Nearest School Day                        2020 non-null   datetime64[ns]
 25  Final Day to ENTER - 1 Day                2020 non-null   datetime64[ns]
 26  2 Days                                    2020 non-null   datetime64[ns]
 27  5 Days                                    2020 non-null   datetime64[ns]
 28  10 Days                                   2020 non-null   datetime64[ns]
dtypes: bool(7), datetime64[ns](11), int64(2), object(9)
memory usage: 376.8+ KB

In [112]:
material_df['Entered on Time'] = np.where(material_df['OccDateEntered'] <= material_df['Final Day to ENTER - 1 Day'], 'YES', 'NO')

In [113]:
material_df['Investigated on Time'] = np.where(material_df['CRA832InitialInvestigationCompletionDate'] <= material_df['5 Days'], 'YES', 'NO')

In [114]:
material_df['Investigated on Time'] = np.where(material_df['CRA832InitialInvestigationCompletionDate'].isnull(), ' ', material_df['Investigated on Time'])

In [115]:
material_df['Updated on Time'] = np.where(material_df['Update Date'] <= material_df['10 Days'], 'YES', 'NO')

In [116]:
material_df['Updated on Time'] = np.where(material_df['Update Date'].isnull(), ' ', material_df['Updated on Time'])

In [117]:
#Drop Day of Week, School Day, Nearest School Day, 2 Days, 5 Days

material_df.drop('OccID', axis = 1, inplace = True)
material_df.drop('Harassment_Intimidation_Bullying', axis = 1, inplace = True)
material_df.drop('MaterialSexualInNature', axis = 1, inplace = True)
material_df.drop('Cyberbullying', axis = 1, inplace = True)
material_df.drop('MaterialIncidents', axis = 1, inplace = True)
material_df.drop('BiasRelated', axis = 1, inplace = True)
material_df.drop('Day of Week', axis = 1, inplace = True)
material_df.drop('School Day', axis = 1, inplace = True)
material_df.drop('Nearest School Day', axis = 1, inplace = True)
material_df.drop('2 Days', axis = 1, inplace = True)
material_df.drop('Date_x', axis = 1, inplace = True)
material_df.drop('Date_y', axis = 1, inplace = True)
material_df.drop('RowNumber', axis = 1, inplace = True)

In [118]:
material_df.head()

,RowNumber,AcademicYear,DBN,School Name,Classification_Code,Short Description,OORS#,PrincInformed,Update Date,CRA832InitialInvestigationCompletionDate,OccDateEntered,InvolveStudentOnStudentConduct,CRA832ConductAViolation,WhoSource,Final Day to ENTER - 1 Day,5 Days,10 Days,Entered on Time,Investigated on Time,Updated on Time
0,1,2020-2021,02M416,Eleanor Roosevelt High School,B23,Using Slurs (Bias),02M416-090220-0001,2020-09-02,2020-09-18,2020-09-18,2020-09-03,True,False,CENTRAL\MGuttman,2020-09-03,2020-09-09,2020-09-16,YES,NO,NO
1,1,2020-2021,20K104,P.S./I.S. 104 The Fort Hamilton School,A13,"Profane, Obscene, Vulgar Language or Gestures",20K104-102820-0018,2020-10-28,2020-10-29,2020-10-29,2020-10-29,True,False,CENTRAL\MDonnelly3,2020-10-29,2020-11-04,2020-11-12,YES,YES,YES
2,1,2020-2021,06M211,Inwood Early College for Health and Informatio...,B40,Intimidating and Bullying Behavior (bias),06M211-102820-0004,2020-10-28,2020-11-06,2020-11-06,2020-10-29,True,False,CENTRAL\JHarris2,2020-10-29,2020-11-04,2020-11-12,YES,NO,YES
3,1,2020-2021,16K681,Madiba Prep Middle School,B39,Intimidating and Bullying Behavior,16K681-102620-0002,2020-10-27,2020-11-10,2020-10-30,2020-10-29,True,True,CENTRAL\KPascal,2020-10-28,2020-11-03,2020-11-10,NO,YES,YES
4,1,2020-2021,75X186,P186X Walter J. Damrosch School,B39,Intimidating and Bullying Behavior,75X186-102820-0015,2020-10-28,2020-10-30,2020-10-30,2020-10-29,True,False,CENTRAL\AJones80,2020-10-29,2020-11-04,2020-11-12,YES,YES,YES

In [119]:
#Export data to excel: https://datatofish.com/export-dataframe-to-excel/
#df.to_excel(r'Path to store the exported excel file\File Name.xlsx', sheet_name='Your sheet name', index = False)
#Formatting: https://xlsxwriter.readthedocs.io/working_with_pandas.html

#material_df.to_excel(r"/Users/holly/Desktop/nycdoe/01142021 Compliance Data FINAL.xlsx", sheet_name='Material',header=True, merge_cells=False, index=False)

In [126]:
#Source: https://stackoverflow.com/questions/37787698/how-to-sort-pandas-dataframe-from-one-column
#df.sort_values('2')

acs_df = acs_df.sort_values("DBN")
inc_df = inc_df.sort_values("DBN")
material_df = material_df.sort_values("DBN")
missing_df = material_df.sort_values("DBN")
ideation_df = material_df.sort_values("DBN")

In [131]:
#Source: https://xlsxwriter.readthedocs.io/example_pandas_multiple.html
#Source: https://stackoverflow.com/questions/57329238/how-to-remove-index-column-when-formatting-user-defined-headers-xlsxwriter-and-p
#data3.to_excel(writer, index=False, sheet_name='TEST', startrow=1, header = False)
#Source: https://stackoverflow.com/questions/51631138/writing-text-wrapped-excel-files-using-python
#Source: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html
#Source: https://stackoverflow.com/questions/27469182/how-to-sort-excel-sheet-using-python/64162996
#Source: https://actuarialdatasciencebymzm.wordpress.com/2017/09/21/tips-to-transform-pandas-dataframes-into-a-formatted-excel-files/

writer = pd.ExcelWriter('/Users/holly/Desktop/nycdoe/02052021 Compliance Data FINAL.xlsx', engine='xlsxwriter', datetime_format='mm/dd/yyyy')
#columns_format = writer.add_format({'text_wrap': True, 'font_size':11})

#acs_df.set_column('A:J', columns_format)
#inc_df.set_column('A:L', columns_format)
#material_df.set_column('A:S', columns_format)
#missing_df.set_column('A:L', columns_format)
#ideation_df.set_column('A:N', columns_format)

acs_df.to_excel(writer, index=False, sheet_name='CL25 A')
inc_df.to_excel(writer, index=False, sheet_name='CL25 B')
material_df.to_excel(writer, index=False, sheet_name='CL25C CL26BC')
missing_df.to_excel(writer, index=False, sheet_name='CL25 D')
ideation_df.to_excel(writer, index=False, sheet_name='CL25E CL26A')

writer.save()